<div id="header">
  <%= render 'shared/header' %>
</div>
<div style="display: flex; justify-content: center; margin: 100px 0px;">
  <div style="width: 700px">
    <body>
      <h1>TangoTubeTV</h1>

      <p>TangoTube is a website which encourages discovery of new tango videos and by providing a unique way to search and engage with tango content on the web. It provides a unique way to search for videos by allowing the possibility to filter by genre (Tango, Milonga, Vals), follower name, leader name, orchestra, and year. </p>

      <h2>Improved Filtering/Search</h2>

      <%= image_tag "https://res.cloudinary.com/jmarsh24/image/upload/v1630432043/Screen_Shot_2021-08-31_at_3.14.51_PM_bskrik.png", style: "width: 700px; margin: 15px 0px;", alt: "video_column_browser" %>
      
      <ul>
        <li> Allows users to get an overview of all the dancer partners of any given dancer. </li>
        <li> Orchestra preferences of a given dancer </li>
        <li> All tango, Milonga or Vals performances from a given dancer </li>
        <li> All performers to a give orchestra </li>
        <li> Sort by the oldest performance from a dancer </li>
        <li> Group performances by song </li>
      </ul>

      <p>All this information updates dynamically as you are searching in order to give you an overview of how a search term would affect your search before you put it in. Many dancers can have over 1,000 videos, and this allows you to more easily discover new gems.</p>

      <h2>Reformatted Titles/Descriptions</h2>

      <%= image_tag "https://res.cloudinary.com/jmarsh24/image/upload/v1630432043/Screen_Shot_2021-08-31_at_3.14.15_PM_fzktie.png", style: "width: 300px; margin: 15px 0px;", alt: "video_title_description" %>

      <p>The app is able to correctly determine not only the song/orchestra/genre, but it uses this information to provide a consistently formatted video description. This allows you to see all the relevant information before you select the video so you are never left guessing what to expect.</p>

      <h2>Click Based Search</h2>

      <%= image_tag "https://res.cloudinary.com/jmarsh24/image/upload/v1630432243/Screen_Shot_2021-08-31_at_5.56.09_PM_rt1zsk.png", style: "width: 300px; margin: 15px 0px;", alt: "video_title_description_clicked" %>

      <p>Say you really like a video’s song or event but you don’t want to watch the same performance again. All the song information and event information is clickable. So with one click you can easily see all the performers who have performed to a given piece or all the performances from a given event without having to type a word. </p>

      <h2>Detailed Song Information</h2>

      <%= image_tag "https://res.cloudinary.com/jmarsh24/image/upload/v1630432084/Screen_Shot_2021-08-31_at_5.59.30_PM_o5eghg.png", style: "width: 500px; margin: 15px 0px;" , alt:"video_details" %>

      <p>Tangotube provides specific song information such as orchestra, genre, recording date, singer, composer, author, and lyrics for every performance.</p>

      <h2>Wikipedia-like Updates</h2>

      <%= image_tag "https://res.cloudinary.com/jmarsh24/image/upload/v1630432047/Screen_Shot_2021-08-31_at_6.01.14_PM_rkqmpg.png", style: "width: 400px; margin: 15px 0px;", alt: "video_edit_page" %>

      <p>See something incorrect or information missing. Tangotube makes mistakes sometimes or has incomplete information. If you sign up for an account, this allows you to have the ability to edit missing/incorrect information. </p>

      <h2>How Can I Help</h2>

      <p>Search/Watch/Share videos that you find on social media. The app improves the more video that found and this improves the search results which make it easier for others to find more videos.</p>

      <p>If you would like to support the development of this app, I have a patreon where you can contribute a small amount of money monthly. This will help cover the server costs and also allow me to improve and add more features to the app.</p>

      <p>If you notice any bugs/have feature requests feel free to send me a message by Facebook at <%= link_to "Facebook", "https://facebook.com/justinallemarsh", target: "_blank" %> or by email at <%= mail_to "jmarsh24@gmail.com" %></p>

    </body>
  </div>
</div>