<div class="video-info-primary-container">
  <div class="show-video-title">
    <%= link_to_primary_title(@video.display.dancer_names,
                              @video.title,
                              @video.display.any_song_attributes,
                              @video.youtube_id) %>
  </div>
  <div class="show-video-song">
    <%= link_to_song( @video.display.el_recodo_attributes,
                      @video.display.external_song_attributes) %>
  </div>
  <div class="show-video-event">
    <%= link_to @video.event.title.titleize,
                root_path(event_id: @video.event.id),
                { "data-turbo-frame": "_top" } if @video.event.present? %>
  </div>
  <div class="show-video-channel">
    <%= link_to image_tag(@video.channel.thumbnail_url,
                class: "channel-icon"),
                root_path(channel: @video.channel.title), { "data-turbo-frame": "_top" }  if @video.channel.thumbnail_url.present? %>
    <%= link_to truncate(@video.channel.title,
                length: 45, omission: ""),
                root_path(channel: @video.channel.title),
                { class: "channel-title", "data-turbo-frame": "_top" }  if @video.channel.title.present? %>
  </div>
  <div class="show-video-metadata">
    <%= formatted_metadata(@video) %>
  </div>
</div>
