<div class="container">
  <table>
    <thead>
      <tr>
        <th>
          <label>Filter Type:</label>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <% form_with(scope: "videotype") do |f| %>
          <%= f.select :id, @videotypes.map { |v| [v.name, v.id] } %>
          <% end %>
          <%= select_tag "videotype[name]", 
                content_tag(:option, 
                            "Select All #{@videotypes.count} Types",
                            selected: "selected", value: "" ) +
                options_from_collection_for_select(@videotypes, 
                                                    :id, 
                                                    :name, 
                                                    params[:name]
                                                    .to_i),
                class: "select-css",
                name: "videotype_id",
                multiple: false,
                id: "different_option_value_html",
                onchange: "this.form.submit();",
                size: 10 %>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>
          <label>Filter Genre:</label>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= select_tag "genre", 
                content_tag(:option, 
                            "Select All #{@genres.count} Genres", 
                            selected: "selected", value: "" ) +
                options_for_select(@genres),
                class: "select-css",
                name: "genre",
                multiple: false,
                size: 10 %>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>
          <label>Filter Leader:</label>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= select_tag "leader", 
                content_tag(:option, 
                            "Select All #{@leaders.count} Leaders", 
                            selected: "selected", value: "" ) +
                options_from_collection_for_select(@leaders, :id, :name),
                name: "leader_id",
                class: "select-css",
                multiple: false,
                size: 10 %>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>
          <label>Filter Follower:</label>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= select_tag "follower_id", 
                content_tag(:option, 
                            "Select All #{@followers.count} Types", 
                            selected: "selected", value: "" ) +
                options_from_collection_for_select(@followers, :id, :name),
                name: "follower_id",
                class: "select-css",
                multiple: false,
                size: 10 %>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>
          <label>Filter Event:</label>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= select_tag "event_id", 
            content_tag(:option, 
                        "Select All #{@events.count} Types", F
                        selected: "selected", value: "" ) +
            options_from_collection_for_select(@events, :id, :name),
            name: "event_id",
            class: "select-css",
            multiple: false,
            size: 10 %>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>
          <label>Filter Channel:</label>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= select_tag :channels, 
            content_tag(:option, 
                            "Select All #{@channels.count} Types", 
                            selected: "selected", value: "" ) +
                            options_for_select(@channels, 
                            request.params.merge(channel: params[:channel])),
            class: "select-css",
            name: "channel",
            multiple: false,
            size: 10 %>
        </td>
      </tr>
    </tbody>
  </table>
</div>