<div class="video_title_description">
  <div>
    <h2>Title</h2>
    <%= @active_video.title %>
    <br>
    <br>
    <h2>Description</h2>
    <%= @active_video.description %>
  </div>
</div>

<button id="notifications">Show More</button>

<div class="video_details">

  <div class="items">
    <h2>Dancers</h2>
    <h3>Leader</h3>
    <%= @active_video.leader.try(:name) %>
    <br>
    <br>
    <h3>Follower</h3>
    <%= @active_video.follower.try(:name) %>
  </div>

  <div class="items">
    <h2>Music</h2>
    <h3>Song</h3>
    <%= @active_video.song.try(:title) %>
    <br>
    <br>
    <h3>Artist</h3>
    <%= @active_video.song.try(:artist) %>
    <br>
    <br>
    <h3>Genre</h3>
    <%= @active_video.song.try(:genre) %>
    <br>
  </div>

  <div class="items">
    <h2>Video Info</h2>
    <h3>Type</h3>
    <%= @active_video.videotype.try(:name) %>
    <br>
    <br>
    <h3>Rating</h3>
    <%= @active_video.avg_rating %> stars
    <br>
    <br>
    <h3>View Count</h3>
    <%= @active_video.view_count %> views
    <br>
    <br>
    <h3>Duration</h3>
    <%= @active_video.duration %> seconds
    <br>
    <br>
  </div>

  <div class="items">
    <h2>Event Info</h2>
    <h3>Name</h3>
    <%= @active_video.event.try(:name) %>
    <br>
    <br>
    <h3>Location</h3>
    <br>
    <h3>Edition</h3>
    <br>
  </div>

</div>