<%
=begin%>
 <div class="video_title_description">
  <div>
    <h2>Title</h2>
    <%= format_value(@active_video.title) %>
    <h2>Description</h2>
    <%= format_value(@active_video.description) %>
  </div>
</div>
<%
=end%>


<div id="video_details" class="video_details">
  <div class="items" style="width:100%">
    <h1>Video Info</h1>
  </div>
  <div class="items">
    <h2>Dancers</h2>
    <h3>Leader</h3>
    <h4><%= format_value(@active_video.leader.try(:name)) %></h4>
    <h3>Follower</h3>
    <h4><%= format_value(@active_video.follower.try(:name)) %></h4>
  </div>

  <div class="items">
    <h2>Music</h2>
    <h3>Song</h3>
    <h4><%= format_value(@active_video.song.try(:title).titleize) %></h4>
    <h3>Artist</h3>
    <h4><%= format_value(@active_video.song.try(:artist).titleize)  %></h4>
    <h3>Genre</h3>
    <h4><%= format_value(@active_video.song.try(:genre).titleize) %></h4>
  </div>

  <div class="items">
    <h2>Details</h2>
    <h3>Type</h3>
    <h4><%= format_value(@active_video.videotype.try(:name)) %></h4>
    <h3>Channel</h3>
    <h4><%= format_value(@active_video.channel) %></h4>
    <h3>View Count</h3>
    <h4><%= format_value(@active_video.view_count) %></h4> views
    <h3>Duration</h3>
    <h4><%= format_value(@active_video.length.strftime("%M:%S")  ) %></h4>
  </div>

  <div class="items">
    <h2>Event Info</h2>
    <h3>Name</h3>
    <h4><%= format_value(@active_video.event.try(:name)) %></h4>
    <h3>Location</h3>
    <h4><%= format_value(@active_video.event.try(:location)) %></h4>
  </div>

</div>
