<div data-controller="filter">
  <div class="filter-header">
    <div class="filter-container-button-results">
      <%= button_tag type: 'button', data: { action: "click->toggle#toggle"}, class: "filter-button" do %>
        <%= fa_icon "sliders-h 2x", left: true %>Filters
      <% end %>
      <div id="filter_results">
        <% if filtering_params.present? %>
          <%= "#{pluralize(number_with_delimiter(@search.videos.size), "Result")} Found" %>
        <% end %>
      </div>
    </div>
    <div class="filter-hd" id="hd_filters">
      <%= button_tag "All", class: "filter-hd-button", data: { controller: "filter", action: "filter#filter", "filter-hd-value": "0" } %>
      <%= button_tag "HD", class: "filter-hd-button", data: { controller: "filter", action: "filter#filter", "filter-hd-value": "1" } %>
    </div>
  </div>
  <div class="filter-container isHidden" data-toggle-target="toggleable" id="filters">
    <div class="filter-container-upper" id="filter-container-upper">
      <%= render partial: "videos/index/filter", locals: { options: @search.genres, title: :genre, id: 'genre-filter' } %>
      <%= render partial: "videos/index/filter", locals: { options: @search.leaders, title: :leader_id, id: 'leader-filter' } %>
      <%= render partial: "videos/index/filter", locals: { options: @search.followers, title: :follower_id, id: 'follower-filter' } %>
      <%= render partial: "videos/index/filter", locals: { options: @search.orchestras, title: :orchestra, id: 'orchestra-filter' } %>
      <%= render partial: "videos/index/filter", locals: { options: @search.years, title: :year, id: 'year-filter' } %>
    </div>
    <div class="videos-sortable-container" id= "sortable_container">
      <label>
        Sort By
      </label>
      <div class="videos-sortable-button">
        <%= sortable 'songs.title', "Song Title", @search %>
      </div>
      <div class="videos-sortable-button">
        <%= sortable 'songs.last_name_search', "Orchestra", @search %>
      </div>
      <div class="videos-sortable-button">
        <%= sortable 'videos.channel_id', "Channel", @search %>
      </div>
      <div class="videos-sortable-button">
        <%= sortable "videos.view_count", "View Count", @search %>
      </div>
      <div class="videos-sortable-button">
        <%= sortable "videos.upload_date", "Upload Date", @search %>
      </div>
      <div class="videos-sortable-button">
        <%= sortable 'videos.popularity', "Popularity", @search %>
      </div>
    </div>
  </div>
</div>
