<div class="filter-item" id=<%= id %>>
<label>
<%= title.to_s.titleize %>
</label>
  <select name= "<%= title %>"
          data-controller= "slimselect"
          data-action="change->filter#filter"
          data-filter-target= "filter"
          data-slimselect-data-value="<%= Array.wrap(data).to_json %>"
          id="<%= title %>">
  </select>
</div>
