<%= "Displaying #{@videos_sorted.count} Videos" %>
<div data-controller="toggle">
  <button type= 'submit' data-action="toggle#toggle" class= "filter_button">
    <i class="fas fa-filter fa-lg" aria-hidden="true"></i>
  </button>
  <div class="hidden" data-target="toggle.toggleable">
  <%= form_with( model: @videos, local: true) do |f| %>
    <div class="filter_container" data-controller='select-filter' data-select-filter-url="<%= videos_path %>">
      <div class="filter_item">
        <label>Type</label>
        <%= select_tag "videotype", options_for_select(@videotypes), 
              data: { action: "select-filter#change" } %>
      </div>

      <div data-target="select-filter.videos" >
        <%= render partial: 'videos/index/videos', locals: { videos: @videos} %>
      </div>
    </div>
      <%
=begin%>
 <div class="filter_item" data-controller='select-filter' data-select-filter-url="<%= videos_path %>">
        <label>Genre</label>
        <%= select_tag "genre", options_for_select(@genres), 
              data: { action: "select-filter#change" }  %>
      </div>
      <div class="filter_item" data-controller="select-filter" data-select-filter-url="<%= videos_path %>">
        <label>Leader</label>
        <%= select_tag "leader", options_for_select(@leaders), 
              data: { action: "select-filter#change" } %>
      </div>
      
      <div class="filter_item" data-controller='select-filter' data-select-filter-url="<%= videos_path %>">
        <label>Follower</label>
        <%= select_tag "follower", options_for_select(@followers), 
              data: { action: "select-filter#change" }  %>
      </div>
      <div class="filter_item" data-controller='select-filter' data-select-filter-url="<%= videos_path %>">
        <label>Event</label>
        <%= select_tag "event", options_for_select(@events), 
              data: { action: "select-filter#change" }  %>
      </div>
      <div class="filter_item" data-controller='select-filter' data-select-filter-url="<%= videos_path %>">
        <label>Channel</label>
        <%= select_tag "channel", options_for_select(@channels), 
              data: { action: "select-filter#change" } %>
      </div> 
<%
=end%>
      <% end %>
    </div>
  </div>
</div>