<%= "#{@videos_filtered.count} Results" %>
<div data-controller="toggle">
  <button type='submit' data-action="toggle#toggle" class="filter_button">
    <i class="fas fa-filter fa-lg" aria-hidden="true"></i>
  </button>

  <div class="hidden" data-toggle-target="toggleable">

    <div class="filter_container" data-controller="filter">
        <div class="filter_item" data-controller='select2'>
          <label>Type</label>
          <%= select_tag :videotype, 
                options_for_select([["Select All #{@videotypes.count} Types", "all"]] + @videotypes,
              params[:videotype].presence || "all"),
                class: "content-search",
                data: { action: "filter#filter", "filter-target": "filter" } %>
        </div>

        <div class="filter_item" data-controller='select2'>
          <label>Genre</label>
          <%= select_tag :genre, 
                options_for_select([["Select All #{@genres.count} Genres", "all"]] + @genres,
              params[:genre].presence || "all"),
                class: "content-search",
                data: { action: "filter#filter", "filter-target": "filter" } %>
        </div>

        <div class="filter_item" data-controller='select2'>
          <label>Leader</label>
          <%= select_tag :leader, 
                options_for_select([["Select All #{@leaders.count} leaders", "all"]] + @leaders,
              params[:leader].presence || "all"),
                class: "content-search",
                data: { action: "filter#filter", "filter-target": "filter" } %>
        </div>

        <div class="filter_item" data-controller='select2'>
          <label>Follower</label>
          <%= select_tag :follower, 
                options_for_select([["Select All #{@followers.count} followers", "all"]] + @followers,
              params[:follower].presence || "all"),
                class: "content-search",
                data: { action: "filter#filter", "filter-target": "filter" } %>
        </div>

        <div class="filter_item" data-controller='select2'>
          <label>Event</label>
          <%= select_tag :event, 
                options_for_select([["Select All #{@events.count} events", "all"]] + @events,
              params[:event].presence || "all"),
                class: "content-search",
                data: { action: "filter#filter", "filter-target": "filter" } %>
        </div>

        <div class="filter_item" data-controller='select2'>
          <label>Channel</label>
          <%= select_tag :channel, 
                options_for_select([["Select All #{@channels.count} channels", "all"]] + @channels,
              params[:channel].presence || "all") ,
                class: "content-search",
                data: { action: "filter#filter", "filter-target": "filter" } %>
        </div>

    </div>
  </div>
</div>
</div>