<%= "#{@videos_filtered.count} Results" %>
<div data-controller="toggle">
  <button type='submit' data-action="toggle#toggle" class="filter_button">
    <i class="fas fa-filter fa-lg" aria-hidden="true"></i>
  </button>
  <div class="hidden" data-target="toggle.toggleable">

    <div class="filter_container" data-controller="filter">
      <div class="filter_item">
        <label>Type</label>
      <%= select_tag :videotype, 
            options_for_select([["Select All #{@videotypes.count} Types", " "]] + @videotypes,
                params[:videotype].presence || " "
              ),
              multiple: false, 
              size: 12,
              class: "select-css",
              data: { action: "filter#filter", target: "filter.filter"} %>
      </div>

      <div class="filter_item">
      <label>Genre</label>
        <%= select_tag :genre, 
              options_for_select([["Select All  #{@genres.count} Genres", " "]] + @genres, 
                params[:genre].presence || " "
              ), 
              multiple: false, 
              size: 12,
              class: "select-css",
              data: { action: "filter#filter", target: "filter.filter"} %>
      </div>

      <div class="filter_item">
        <label>Leader</label>
        <%= select_tag :leader, 
              options_for_select([["Select All  #{@leaders.count} Leaders", " "]]+ @leaders, 
                params[:leader].presence || " "
              ), 
              multiple: false, 
              size: 12,
              class: "select-css",
              data: { action: "filter#filter", target: "filter.filter"} %>
      </div>

      <div class="filter_item">
        <label>Follower</label>
        <%= select_tag :follower, 
              options_for_select( [["Select All #{@followers.count} Followers", " "]] + @followers, 
                params[:follower].presence || " "
              ), 
              multiple: false, 
              size: 12,
              class: "select-css",
              data: { action: "filter#filter", target: "filter.filter"}  %>
      </div>
      <div class="filter_item">
        <label>Event</label>
        <%= select_tag :event, 
              options_for_select( [["Select All #{@events.count} Events", " "]] + @events, 
                params[:event].presence || " "
              ), 
              multiple: false, 
              size: 12,
              class: "select-css",
              data: { action: "filter#filter", target: "filter.filter"}  %>
      </div>
      <div class="filter_item">
        <label>Channel</label>
        <%= select_tag :channel, 
              options_for_select( [["Select All #{@channels.count} Channels", " "]]+ @channels, 
              params[:channel].presence || " "
            ), 
            multiple: false, 
            size: 12,
            class: "select-css",
            data: { action: "filter#filter", target: "filter.filter"} %>
      </div>
    </div>
  </div>
</div>