<div id="filters" class="filter_container" data-controller="filter">
  <%= render partial: "videos/index/filter_item", locals: {model: @genres, model_count: @genres.count, title: :genre } %>
  <%= render partial: "videos/index/filter_item", locals: {model: @leaders, model_count: @leaders.count, title: :leader } %>
  <%= render partial: "videos/index/filter_item", locals: {model: @followers, model_count: @followers.count, title: :follower } %>
  <%= render partial: "videos/index/filter_item", locals: {model: @channels, model_count: @channels.count, title: :channel } %>
</div>
<div class="filter-results">
  <%= "Displaying #{ @videos.count } Results" %>
</div>
