<%= "#{@videos_filtered.count} Results" %>
<div data-controller="toggle">
  <button type='submit' data-action="toggle#toggle" class="filter_button">
    <i class="fas fa-filter fa-lg" aria-hidden="true"></i>
  </button>

  <div class="hidden" data-toggle-target="toggleable">

    <div class="filter_container" data-controller="filter">
      <div data-controller="choices" data-item-select-text=" " data-should-sort="false" data-should-sort-items="false" data-position="down">
        <div class="filter_item">
          <label>Type</label>
          <div data-choices-target="options">
            <%= options_for_select([["Select All #{@videotypes.count} Types", "all"]] + @videotypes,
              params[:videotype].presence || "all") %>
          </div>
          <%= select_tag :videotype, 
                options_for_select(@videotypes),  
                multiple: false, 
                size: 10,
                data: { "choices-target": "select", action: "filter#filter", "filter-target": "filter" } %>
        </div>
      </div>
      <div data-controller="choices" data-item-select-text=" " data-should-sort="false" data-should-sort-items="false" data-position="down">
        <div class="filter_item">
          <label>Genre</label>
          <div data-choices-target="options">
            <%= options_for_select([["Select All #{@genres.count} Genres", "all"]] + @genres,
              params[:genre].presence || "all") %>
          </div>
          <%= select_tag :genre, 
                options_for_select(@genres),  
                multiple: false, 
                size: 10,
                data: { "choices-target": "select", action: "filter#filter", "filter-target": "filter" } %>
        </div>
      </div>
      <div data-controller="choices" data-item-select-text=" " data-should-sort="false" data-should-sort-items="false" data-position="down">
        <div class="filter_item">
          <label>Leader</label>
          <div data-choices-target="options">
            <%= options_for_select([["Select All #{@leaders.count} leaders", "all"]] + @leaders,
              params[:leader].presence || "all") %>
          </div>
          <%= select_tag :leader, 
                options_for_select(@leaders),  
                multiple: false, 
                size: 10,
                data: { "choices-target": "select", action: "filter#filter", "filter-target": "filter" } %>
        </div>
      </div>
      <div data-controller="choices" data-item-select-text=" " data-should-sort="false" data-should-sort-items="false" data-position="down">
        <div class="filter_item">
          <label>Follower</label>
          <div data-choices-target="options">
            <%= options_for_select([["Select All #{@followers.count} followers", "all"]] + @followers,
              params[:follower].presence || "all") %>
          </div>
          <%= select_tag :follower, 
                options_for_select(@followers), 
                multiple: false, 
                size: 10,
                data: { "choices-target": "select", action: "filter#filter", "filter-target": "filter" } %>
        </div>
      </div>
      <div data-controller="choices" data-item-select-text=" " data-should-sort="false" data-should-sort-items="false" data-position="down">
        <div class="filter_item">
          <label>Event</label>
          <div data-choices-target="options">
            <%= options_for_select([["Select All #{@events.count} events", "all"]] + @events,
              params[:event].presence || "all") %>
          </div>
          <%= select_tag :event, 
                options_for_select(@events),  
                multiple: false, 
                size: 10,
                data: { "choices-target": "select", action: "filter#filter", "filter-target": "filter" } %>
        </div>
      </div>
      <div data-controller="choices" data-item-select-text=" " data-should-sort="false" data-should-sort-items="false" data-position="down">
        <div class="filter_item">
          <label>Channel</label>
          <div data-choices-target="options">
            <%= options_for_select([["Select All #{@channels.count} channels", "all"]] + @channels,
              params[:channel].presence || "all") %>
          </div>
          <%= select_tag :channel, 
                options_for_select(@channels),  
                multiple: false, 
                size: 10,
                data: { "choices-target": "select", action: "filter#filter", "filter-target": "filter" } %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>