<%= "Displaying #{@videos_sorted.count} Videos" %>
<div data-controller="toggle">
  <button type= 'submit', data-action="toggle#toggle", class= "filter_button">
    <i class="fas fa-filter fa-lg" aria-hidden="true"></i>
  </button>
  <div class="hidden" data-target="toggle.toggleable">
  <%= form_with( model: @videos, local: true) do |f| %>
    <div class="filter_container" data-controller='select2'>
      <div class="filter_item">
        <label>Type</label>
        <%= f.select( :videotype, @videotypes,
            { include_blank: true },
            { class: "js-searchable" } ) %>
      </div>
      <div class="filter_item" data-controller='select2'>
        <label>Genre</label>
        <%= f.select( :genre, @genres,
            { include_blank: true },
            { class: "js-searchable" } ) %>
      </div>
      <div class="filter_item" data-controller='select2'>
        <label>Leader</label>
        <%= f.select( :leader, @leaders,
            { include_blank: true },
            { class: "js-searchable" } ) %>
      </div>
      
      <div class="filter_item" data-controller='select2'>
        <label>Follower</label>
        <%= f.select( :follower, @followers,
            { include_blank: true },
            { class: "js-searchable" } ) %>
      </div>
      <div class="filter_item" data-controller='select2'>
        <label>Event</label>
        <%= f.select( :event, @events,
            { include_blank: true },
            { class: "js-searchable" } ) %>
      </div>
      <div class="filter_item" data-controller='select2'>
        <label>Channel</label>
        <%= f.select( :channel, @channels,
            { include_blank: true },
            { class: "js-searchable" } ) %>
      </div>
      <%= f.submit("Filter") %>
      <% end %>
    </div>
  </div>
</div>