<div data-controller="filter">
  <div class="filter-header">
    <div class="filter-container-button-results">
      <button data-action="click->toggle#toggle" class="filter-button"><%= fa_icon "sliders-h 2x", left: true %>
        <div id="filter-button-text">Filters</div>
      </button>
      <div id="filter_results">
        <%= "Displaying #{number_with_delimiter(@videos.size)} Results" %>
      </div>
    </div>
    <div class="filter-hd">
      <%= link_to "All", current_page_params.except(:hd) , class: "filter-hd-button", 'data-action': "click->filter#filter" %>
      <%= link_to "HD", current_page_params.merge(hd: 1) , class: "filter-hd-button", 'data-action': "click->filter#filter" %>
    </div>
  </div>
  <div class="filter-container isHidden" data-toggle-target="toggleable" id="filters">
    <%= render partial: "videos/index/filter_item", locals: { model: @genres, title: :genre, id: 'genre-filter' } %>
    <%= render partial: "videos/index/filter_item", locals: { model: @leaders, title: :leader_id, id: 'leader-filter' } %>
    <%= render partial: "videos/index/filter_item", locals: { model: @followers, title: :follower_id, id: 'follower-filter' } %>
    <%= render partial: "videos/index/filter_item", locals: { model: @artists, title: :orchestra, id: 'orchestra-filter' } %>
    <%= render partial: "videos/index/filter_item", locals: { model: @years, title: :year, id: 'year-filter' } %>
  </div>
</div>
