<div class="video-section">
  <% @search.paginated_videos.each do |video| %>
    <article class="video-container">
      <%= link_to watch_path(v: video.youtube_id), { 'data-turbo-frame': "_top", id: "video-link" } do %>
        <div class="thumbnail" data-duration= "<%= hd_duration_data(video) %>" >
          <%= image_tag("https://img.youtube.com/vi/#{video.youtube_id}/hqdefault.jpg", class: "thumbnail-image") %>
        </div>
      <% end %>
      <div class="video-bottom-section">
        <div class="video-details">
          <div class="video-title">
          <%= link_to_primary_title(video.display.dancer_names,
                                    video.title,
                                    video.display.any_song_attributes,
                                    video.youtube_id) %>
          </div>
          <div class="video-song">
          <% if video.display.any_song_attributes.present? %>
            <%= link_to_song(video.display.el_recodo_attributes,
                              video.display.external_song_attributes,
                              video) %>
          <% end %>
          </div>
          <div class="video-event">
              <%= link_to video.event.title.titleize,
                          root_path(event_id: video.event.id),
                          { 'data-turbo-frame': "_top" } if video.event.present?%>
          </div>
          <div class="video-channel">
            <%= link_to image_tag(video.channel.thumbnail_url,
                          class: 'channel-icon'),
                          root_path(channel_id: video.channel_id),
                          { 'data-turbo-frame': "_top" } if video.channel.thumbnail_url.present? %>
            <%= link_to channel_title(video),
                          root_path(channel_id: video.channel_id),
                          { class: "channel-title", 'data-turbo-frame': "_top" } if video.channel.title.present? %>
          </div>
          <div class="video-metadata">
              <%= formatted_metadata(video) %>
          </div>
        </div>
      </div>
    </article>
  <% end %>
</div>
