<% @videos_paginated.each do |video| %>
<%= active_link_to watch_path(v: video.youtube_id),
              {class: "video", active: :exact} do %>
<div class="desktop-details">
  <div class="video-container">
    <div class="thumbnail" data-duration="<%= video.length %>">
      <%= image_tag("http://img.youtube.com/vi/#{video.youtube_id}/mqdefault.jpg",
                class: 'thumbnail') %>
    </div>
    <div class="video-title-song">
      <%= video.song.nil? ? video.song.try(:title).to_s.titleize : video.try(:youtube_song).to_s.titleize %>
    </div>
    <div class="video-artist">
      <%= video.song.nil? ? video.song.try(:artist).to_s.titleize : video.try(:youtube_artist).to_s.titleize %>
    </div>
    <div class="video-genre">
      <%= video.song.try(:genre).to_s.titleize %>
    </div>
    <div class="video-leader">
      <%= video.leader.try(:name).to_s.titleize %>
    </div>
    <div class="video-follower">
      <%= video.follower.try(:name).to_s.titleize%>
    </div>
    <div class="video-channel-name">
      <%= video.channel.title.to_s %>
    </div>
    <div class="video-view_count">
      <%= video.view_count %>
    </div>
    <div class="video-upload_date">
      <%= video.upload_date %>
    </div>
  </div>
</div>
<div class="mobile-details">
  <div class="video-container">
    <div class="thumbnail" data-duration="<%= video.length %>">
      <%= image_tag("http://img.youtube.com/vi/#{video.youtube_id}/mqdefault.jpg",
                class: 'thumbnail') %>
    </div>
    <div class="video-bottom-section">
      <%= image_tag("#{video.channel.thumbnail_url}", class: "channel-icon") %>
      <div class="testing">
        <div class="video-title-song">
          <%= video.song.try(:title) || video.try(:youtube_song) || video.try(:spotify_track_name).to_s.titleize %>
        </div>
        <div class="video-artist">
          <%= video.song.try(:genre)%> | <%= video.song.try(:artist).to_s.titleize || video.try(:spotify_artist_name_2) || video.try(:youtube_artist) %>
        </div>
        <div class="video-dancers">
          <%= video.leader.try(:name).to_s + " & " + video.follower.try(:name).to_s %>
        </div>
        <div class="video-channel-name">
          <%= video.channel.try(:title).to_s  %>
        </div>
        <div class="video-metadata">
          <%= "#{video.view_count} views • #{video.upload_date}" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<hr>
<% end %>
