<% videos.each do |video| %>
  <div class="video">
    <div class="video-thumbnails">
      <%= link_to image_tag("http://img.youtube.com/vi/#{video.youtube_id}/mqdefault.jpg", class: 'thumbnail'),
            current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %>
    </div>
    <div class="video-videotypes">
      <%= link_to "#{video.videotype.try(:name)}",
                    current_page_params
                    .merge(:youtube_id => "#{video.videotype.try(:name)}" ) %>
    </div>
    <div class="video-titles">
      <%= link_to "#{video.song.try(:title)}",
                    current_page_params
                    .merge(:youtube_id => "#{video.youtube_id}" ) %>
    </div>
    <div class="video-artists">
      <%= link_to "#{video.song.try(:artist)}",
                    current_page_params
                    .merge(:youtube_id => "#{video.youtube_id}" ) %>
    </div>
    <div class="video-leaders">
      <%= link_to "#{video.leader.try(:name)}",
                    current_page_params
                    .merge(:youtube_id => "#{video.youtube_id}" ) %>
    </div>
    <div class="video-followers">
      <%= link_to "#{video.follower.try(:name)}",
                    current_page_params
                    .merge(:youtube_id => "#{video.youtube_id}" ) %>
    </div>
    <div class="video-events">
      <%= link_to "#{video.event.try(:name)}",
                    current_page_params
                    .merge(:youtube_id => "#{video.youtube_id}" ) %>
    </div>

    <div class="video-genres">
      <%= link_to "#{video.song.try(:genre)}",
                    current_page_params
                    .merge(:youtube_id => "#{video.song.try(:genre)}" ) %>
    </div>
    <div class="video-channels">
      <%= link_to "#{video.channel}",
                    current_page_params
                    .merge(:youtube_id => "#{video.youtube_id}" ) %>
    </div>
    <div class="video-view_counts">
      <%= link_to "#{video.view_count}",
                    current_page_params
                    .merge(:youtube_id => "#{video.youtube_id}" ) %>
    </div>
    <div class="video-upload_dates">
      <%= link_to "#{video.upload_date}",
                    current_page_params
                    .merge(:youtube_id => "#{video.youtube_id}" ) %>
    </div>
  </div>
<% end %>
