<div class="videos-header-container">
  <div class="filter_results">
    <%= "Displaying #{@videos.size} Results" %>
  </div>
  <div class="videos-sortable-container">
    <div class="videos-sortable-btn">
      <%= sortable 'songs.title', "Song Title" %>
    </div>
    <div class="videos-sortable-btn">
      <%= sortable 'songs.last_name_search', "Orchestra (last name)" %>
    </div>
    <div class="videos-sortable-btn">
      <%= sortable 'leaders.name', "Leader" %>
    </div>
    <div class="videos-sortable-btn">
      <%= sortable 'followers.name', "Follower" %>
    </div>
    <div class="videos-sortable-btn">
      <%= sortable 'channels.title', "Channel" %>
    </div>
    <div class="videos-sortable-btn">
      <%= sortable "view_count" %>
    </div>
    <div class="videos-sortable-btn">
      <%= sortable "upload_date" %>
    </div>
  </div>
</div>
