<% videos.each do |video| %>
  <%= link_to current_page_params.merge(youtube_id: video.youtube_id), class: "video" do %>
    <div class="video-thumbnails">
      <%= image_tag("http://img.youtube.com/vi/#{video.youtube_id}/mqdefault.jpg", class: 'thumbnail') %>
    </div>
    <div class="video-videotypes">
      <%= video.videotype.try(:name) %>
    </div>
    <div class="video-titles">
      <%= video.song.try(:title) %>
    </div>
    <div class="video-artists">
      <%= video.song.try(:artist) %>
    </div>
    <div class="video-leaders">
      <%= video.leader.try(:name) %>
    </div>
    <div class="video-followers">
      <%= video.follower.try(:name) %>
    </div>
    <div class="video-events">
      <%= video.event.try(:name) %>
    </div>

    <div class="video-genres">
      <%= video.song.try(:genre) %>
    </div>
    <div class="video-channels">
      <%= video.channel %>
    </div>
    <div class="video-view_counts">
      <%= video.view_count %>
    </div>
    <div class="video-upload_dates">
      <%= video.upload_date %>
    </div>
  <% end %>
<% end %>
