<section class="video-section">
  <% @videos_paginated.each do |video| %>
    <article class="video-container">
        <div href="#" class="thumbnail" data-duration= <%= video.length %> >
        <%= active_link_to watch_path(v: video.youtube_id),
                  {active: :exact} do %>
              <%= image_tag("http://img.youtube.com/vi/#{video.youtube_id}/hqdefault.jpg", class: "thumbnail-image") %>
        </div>
        <% end %>
        <div class="video-bottom-section">
          <div class="video-details">
          <%= image_tag(video.channel.thumbnail_url, class: 'channel-icon') %>
              <div class="video-title">
                <div class="video-dancers">
                  <%= format_value(video.leader.try(:name)) + ' & ' + format_value(video.follower.try(:name)) %>
                </div>
                <div>
                  <%= video.song.nil? ? "#{format_value(video.try(:spotify_track_name)).to_s.titleize}" : "#{format_value(video.song.try(:title)).to_s.titleize}"%>
                </div>
                <div class="video-song-artist">
                  <%= video.song.nil? ? "#{format_value(video.try(:spotify_artist_name)).to_s.titleize}" : "#{format_value(video.song.try(:artist)).to_s.titleize}" %>
                </div>
              </div>
              <div class="video-metadata">
                <div class="video-channel-name">
                  <%= link_to video.channel.title.to_s, root_path(channel: video.channel.title) %>
                </div>
                <div class="video-view_count">
                  <%= "#{video.view_count} views • #{time_ago_in_words(video.upload_date)} ago" %>
              </div>
            </div>
          </div>
          <div class="video-date-genre">
           <div class="video-upload_date">
              <%= video.upload_date.to_s %>
            </div>
            <div class="video-genre">
              <%= video.song.try(:genre).to_s.titleize %>
            </div>
          </div>
        </div>
    </article>
  <% end %>
</section>
