<% videos.each do |video| %>
  <%= active_link_to current_page_params.merge(youtube_id: video.youtube_id), {class: "video", active: :exact} do %>
    <div class="video-thumbnails" id="arrow">
      <%= image_tag("http://img.youtube.com/vi/#{video.youtube_id}/mqdefault.jpg", class: 'thumbnail') %>
    </div>
    <div class="video-videotypes" id="arrow">
      <%= video.videotype.try(:name) %>
    </div>
    <div class="video-titles" id="arrow">
      <%= video.song.try(:title) %>
    </div>
    <div class="video-artists" id="arrow">
      <%= video.song.try(:artist) %>
    </div>
    <div class="video-genres" id="arrow">
      <%= video.song.try(:genre) %>
    </div>
    <div class="video-leaders" id="arrow">
      <%= video.leader.try(:name) %>
    </div>
    <div class="video-followers" id="arrow"> 
      <%= video.follower.try(:name) %>
    </div>
    <div class="video-events" id="arrow">
      <%= video.event.try(:name) %>
    </div>
    <div class="video-channels" id="arrow">
      <%= video.channel %>
    </div>
    <div class="video-view_counts" id="arrow">
      <%= video.view_count %>
    </div>
    <div class="video-upload_dates" id="arrow">
      <%= video.upload_date %>
    </div>
  <% end %>
<% end %>
