<section class="video-section">
  <% @videos_paginated.each do |video| %>
    <article class="video-container">
        <div href="#" class="thumbnail" data-duration= <%= Time.at(video.duration).utc.strftime("%M:%S") %> >
        <%= link_to watch_path(v: video.youtube_id),
                  {active: :exact} do %>
              <%= image_tag("http://img.youtube.com/vi/#{video.youtube_id}/hqdefault.jpg", class: "thumbnail-image") %>
        </div>
        <% end %>
        <div class="video-bottom-section">
          <div class="video-details">
              <div class="video-primary">
                <div class="video-details-section-dancers">
                  <% if video.leader.present? && video.follower.present? %>
                    <%= link_to video.leader.name.to_s, root_path(leader: video.leader.name), class: "video-details-section-dancers" %>
                    <%= ' & ' %>
                    <%= link_to video.follower.name.to_s, root_path(follower: video.follower.name), class: "video-details-section-dancers" %>
                  <% end %>
                </div>
                  <div class="video-details-primary">
                    <% if video.leader.blank? || video.follower.blank? %>
                      <div class="video-title">
                        <%= link_to video.title.to_s, watch_path(v: video.youtube_id), class: "video-title" %>
                      </div>
                    <% end %>
                    <% if video.song.present? %>
                      <%= link_to root_path(song_id: video.song_id) do %>
                        <div class="video-song-artist">
                          <%= video.song.title.to_s.titleize + ' - ' + video.song.artist.to_s.titleize %>
                          <br>
                          <%= video.song.genre.to_s.titleize %>
                          <% end %>
                        </div>

                    <% end %>
                    <div class="video-details-spotify-info">
                      <% if video.song.nil? && video.spotify_track_name.present? %>
                        <%= video.try(:spotify_track_name).to_s.titleize + ' - ' + video.try(:spotify_artist_name).to_s.titleize %>
                      <% end %>
                      <% if video.song.nil? && video.spotify_track_name.nil? && video.youtube_artist.present? %>
                        <%= "#{video.youtube_song.to_s.titleize} - #{video.youtube_artist.to_s.titleize}"  %>
                      <% end %>
                    </div>
                </div>
              </div>
              <div class="video-metadata">
                <div class="video-channel">
                  <%= link_to image_tag(video.channel.thumbnail_url, class: 'channel-icon'), root_path(channel: video.channel.title) %>
                  <%= link_to video.channel.title.to_s, root_path(channel: video.channel.title), class: "channel-title" %>
                </div>
                <div class="video-view_count">
                  <%= "#{video.view_count} views • #{time_ago_in_words(video.upload_date)} ago" %>
              </div>
              <%# <%= link_to 'edit', edit_video_path(id: video.id) %>
            </div>
          </div>
        </div>
    </article>
  <% end %>
</section>
