<div class = "scrollTableContainer" >
 <table class="scrollTableHeader">
        <thead>
            <tr>
                <th class ="row-1 row-thumbnail"></th>
                <th class="row-1 row-dancers">
                    <%= "Song" %>
                    /
                    <%= "Artist" %> 
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <%= "Leader" %>
                    /
                    <%="Follower" %>
                </th>
                <th class="row-1 row-event">
                    <%= "Event" %>
                </th>
                <th class="row-1 row-videotype">
                    <%="Type" %>
                </th>
                <th class="row-1 row-genre">
                    <%="Genre" %>
                </th>
                <th class="row-1 row-channel">
                    <%="Channel" %>
                </th>
                <th class="row-1 row-view_count">
                    <%="View Count" %>
                </th>
                <th class="row-1 row-upload_date">
                    <%="Upload Date" %>
                </th>
            </tr>
        </thead>
        </table>
  <table class="scrollTable">
    <tbody>
      <% @videos.each do |video| %>
            <tr>
              <td class="row-1 row-thumbnail">
              <%= link_to image_tag("http://img.youtube.com/vi/#{video.youtube_id}/mqdefault.jpg",width: 120), current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %>
              </td>
                  <td class="row-1 row-dancers">
                      <%= link_to "#{video.song.try(:title)} - #{video.song.try(:artist)}", current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %>
                      <%= link_to "#{video.leader.try(:name)} & #{video.follower.try(:name)}", current_page_params.merge(:youtube_id => "#{video.youtube_id}"), class:"dancers_color" %>
                  </td>  
                  <td class="row-1 row-event">
                      <%= link_to "#{video.event.try(:name)}", current_page_params.merge(:youtube_id => "#{video.event.try(:title)}" ) %>
                  </td>
                  <td class="row-1 row-videotype">
                      <%= link_to "#{video.videotype.try(:name)}", current_page_params.merge(:youtube_id => "#{video.videotype.try(:name)}" ) %>
                  </td>
                  <td class="row-1 row-genre">
                      <%= link_to "#{video.song.try(:genre)}", current_page_params.merge(:youtube_id => "#{video.song.try(:genre)}" ) %>
                  </td>
                  <td class="row-1 row-channel">
                      <%= link_to "#{video.channel}", current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %>
                  </td>
                  <td class="row-1 row-view_count">
                      <%= link_to "#{video.view_count}", current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %>
                  </td>
                  <td class="row-1 row-upload_date">
                      <%= link_to "#{video.upload_date}", current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %>
                  </td>
              </tr>
              <% end %>
    </tbody>
  </table>
</div>