<div class="video-edit-body">
  <div class="video-edit-container">
    <h2>Editing Video No: <%= @video.id %></h2>
    <%= "Title: #{@video.try(:title)}" if @video.description.present? %>
    <%= "Description: #{@video.try(:description)}" if @video.description.present? %>
    <%= "Follower: #{@video.follower.try(:name)}" if @video.follower.present? %>
    <%= "Leader: #{@video.leader.try(:name)}" if @video.leader.present? %>
    <%= "Song Title: #{@video.song.try(:title)}" if @video.song.present? %>
    <%= "Song Artist: #{@video.song.try(:artist)}" if @video.song.present? %>
    <%= render 'form' %>
  </div>
</div>
