<!DOCTYPE html>
<html>
   <div class= "wrapper">
      <div class= "side">
         <%= render "shared/header" %>
         <%= render "shared/search" %>
         <%= render "shared/side_menu" %>
      </div>
      <div class= "content">    
         <%= render "shared/video" %>
         <%= render "shared/details_video" %>
         <%= render "shared/column_filters" %>
         <%= render "shared/main_table"%>
      </div>
      <div class= "footer">
         <%= render "shared/footer" %>
      </div>
   </div>