<%= render 'shared/header' %>
  <div id="filters">
    <%= render "videos/index/filters" %>
    <div id="videos">
      <%= render "videos/index/videos_header" %>
      <%= render "videos/index/videos" %>
    </div>
  </div>
  <div class="load-more">
    <div id="load-more-container">
        <%= render "videos/index/load_more" %>
    </div>
  </div>
