<!DOCTYPE html>
<html>
   <div class= "wrapper">
      <div class= "main-header">
         <%= render "shared/header" %>
      </div>
      <div class= "side">
         <%= link_to "TangoDB", root_path, id: "logo" %> 
         <%= render "shared/search" %>
         <%= render "shared/side_menu" %>
      </div>
      <div class= "content">    
         <%= render "shared/video" %>
         <%= render "shared/details_video" %>
         <%= render "shared/column_filters" %>
         <%= render "shared/main_table", :video => @video %>
      </div>
      <div class= "footer">
         <%= render "shared/footer" %>
      </div>
   </div>