<h1>videos</h1>

<div class = "video">
<%= link_to "https://youtube.com/watch?v=#{@video.id}" do %>
 <%= image_tag "https://i.ytimg.com/vi/#{@video.id}/mqdefault.jpg" %>
<% end %>
<br><br>
<div>
<b>Title: </b> <%= @video.title %><br><br>
</div>
<div>
<b>Description: </b><%= @video.description %><br><br>
</div>
<div>
<b>Channel: </b><%= @video.channel_title %><br><br>


 