<!DOCTYPE html>
<html>
   <div class= "wrapper">
      <div class= "side">
         <%= render "shared/header" %>
         <form class = "search-bar" action="/search">
         <input type="text" name="q" placeholder="Search" size="20%">
         </form>
         <%= render "shared/side_menu" %>
      </div>
      <div class= "video">
      <%= render "shared/video" %>
      </div>
      <div class= "content">    
         <%= render "shared/details_video" %>
         <%= render "shared/column_filters" %>
         <%= render "shared/main_table"%>
      </div>
      <div class= "footer">
         <%= render "shared/footer" %>
      </div>
   </div>