<!DOCTYPE html>
<html>

<div class="wrapper">
    <div class="main-header">
        <%= render "shared/header" %>
    </div>

    <% if false %>
    <div class="side">
        <%= render "shared/search" %>
        <%= render "shared/side_menu" %>
    </div>
    <% end %>

    <% if false %>
    <div class="details">
    </div>
    <% end %>

    <div class="video">
        <%= render "shared/video" %>
    </div>
    <div class="content">

        <%#= render "shared/column_filters" %>
        <% if false %>
        <div class="form-row mb-4">
            <div class="col-6">
                <input type="text" placeholder="Search..." class="form-control form-control-lg" value="<%= @query %>" data-reflex="input->TabularReflex#search" data-reflex-root="#search-results">
            </div>
        </div>
        <% end %>

        <div class="scrollTableContainer">
            <% if @pagy.count > 0 %>
            <table class="scrollTableHeader">
                <thead class="bg-primary">
                    <tr>
                        <th style="width:15%">
                            <%= link_to "Song #{arrow :song_id}", "#", class: column_css(:song_id),
                            data: { reflex: "click->TabularReflex#order", column_name: :song_id, direction: direction } %>
                        </th>
                        <th style="width:15%">
                            <%= link_to "Leader #{arrow :leader_id}", "#", class: column_css(:leader_id),
                            data: { reflex: "click->TabularReflex#order", column_name: :leader_id, direction: direction } %>
                        </th>
                        <th style="width:15%">
                            <%= link_to "Follower #{arrow :follower_id}", "#", class: column_css(:follower_id),
                            data: { reflex: "click->TabularReflex#order", column_name: :follower_id, direction: direction } %>
                        </th>
                        <th style="width:15%">
                            <%= link_to "Genre #{arrow :genre}", "#", class: column_css(:genre),
                            data: { reflex: "click->TabularReflex#order", column_name: :genre, direction: direction } %>
                        </th>
                        <th style="width:15%">
                            <%= link_to "Event #{arrow :event_id}", "#", class: column_css(:event_id),
                            data: { reflex: "click->TabularReflex#order", column_name: :event_id, direction: direction } %>
                        </th>
                        <th style="width:15%">
                            <%= link_to "Type #{arrow :videotype_id}", "#", class: column_css(:videotype_id),
                            data: { reflex: "click->TabularReflex#order", column_name: :videotype_id, direction: direction } %>
                        </th>
                        <th style="width:15%">
                            <%= link_to "Channel #{arrow :channel}", "#", class: column_css(:channel),
                            data: { reflex: "click->TabularReflex#order", column_name: :channel, direction: direction } %>
                        </th>
                        <th style="width:15%">
                            <%= link_to "View Count #{arrow :view_count}", "#", class: column_css(:view_count),
                            data: { reflex: "click->TabularReflex#order", column_name: :view_count, direction: direction } %>
                        </th>
                        <th style="width:15%">
                            <%= link_to "Upload Date #{arrow :upload_date}", "#", class: column_css(:upload_date),
                            data: { reflex: "click->TabularReflex#order", column_name: :upload_date, direction: direction } %>
                        </th>
                        
                    </tr>
                </thead>
            </table>
        </div>

        <div class="scrollTableContainer">
            <table class="scrollTable">
                <tbody>
                    <% @videos.each do |video| %>
                    <tr>
                        <td class="row-1 row-thumbnail">
                            <%= link_to image_tag("http://img.youtube.com/vi/#{video.youtube_id}/mqdefault.jpg",width: 120), current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %>
                        </td>
                        <td class="row-1 row-dancers">
                            <%= link_to "#{video.song.try(:title)} - #{video.song.try(:artist)}", current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %>
                            <%= link_to "#{video.leader.try(:name)} & #{video.follower.try(:name)}", current_page_params.merge(:youtube_id => "#{video.youtube_id}"), class:"dancers_color" %>
                        </td>
                        <td class="row-1 row-event">
                            <%= link_to "#{video.event.try(:name)}", current_page_params.merge(:youtube_id => "#{video.event.try(:title)}" ) %>
                        </td>
                        <td class="row-1 row-videotype">
                            <%= link_to "#{video.videotype.try(:name)}", current_page_params.merge(:youtube_id => "#{video.videotype.try(:name)}" ) %>
                        </td>
                        <td class="row-1 row-genre">
                            <%= link_to "#{video.song.try(:genre)}", current_page_params.merge(:youtube_id => "#{video.song.try(:genre)}" ) %>
                        </td>
                        <td class="row-1 row-channel">
                            <%= link_to "#{video.channel}", current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %>
                        </td>
                        <td class="row-1 row-view_count">
                            <%= link_to "#{video.view_count}", current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %>
                        </td>
                        <td class="row-1 row-upload_date">
                            <%= link_to "#{video.upload_date}", current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <p class="lead"><%= @pagy.count %> Results Found</p>
        <%= render "/videos/paginator" if @pagy.pages > 1 %>
        <% end %>
    </div>
    <%#= render "shared/main_table" %>
    <div class="apple_pagination">
        <div class="footer">
            <%= render "shared/footer" %>
        </div>
    </div>
    <div class="recommended_videos">
        <%= render "shared/recommended_videos" %>
    </div>
</div>