<div class="wrapper">
  <div class="content">
    <%= render "videos/index/filters" %>
    <div class="videos-header">
      <div class="video-thumbnail" id="headers"></div>
      <div class="video-title-song" id="headers">
        <%= sortable "songs.title", "Song" %>
      </div>
      <div class="video-artist" id="headers">
        <%= sortable "songs.artist", "Artist" %>
      </div>
      <div class="video-genre" id="headers">
        <%= sortable "songs.genre", "Genre" %>
      </div>
      <div class="video-leader" id="headers">
        <%= sortable "leaders.name", "Leader" %>
      </div>
      <div class="video-follower" id="headers">
        <%= sortable "followers.name", "Follower" %>
      </div>
      <div class="video-channel-name" id="headers">
        <%= sortable "channels.title", "Channel" %>
      </div>
      <div class="video-view_count" id="headers">
        <%= sortable "view_count" %>
      </div>
      <div class="video-upload_date" id="headers">
        <%= sortable "upload_date", "Upload Date" %>
      </div>
      <div class="video-scrollbar-width" id="headers">
      </div>
    </div>
    <div id="videos">
      <%= render "videos/index/videos" %>
    </div>
  </div>
  <div class="load-more">
    <div id="load-more-container">
        <%= render "videos/index/load_more" %>
    </div>
  </div>
</div>
