<h1>Tango Library</h1>

<h3><%= @channel.title %></h3>

<% @channel.videos.each do |video| %>
  <div class = "channel">
    <%= link_to "https://youtube.com/watch?v=#{video.id}" do %>
      <%= image_tag "https://i.ytimg.com/vi/#{video.id}/mqdefault.jpg" %>
    <% end %>
    <br><br>
    <div>
      <b>Title: </b>
      <%= video.title %>
      <br><br>
    </div>
    <div>
      <b>Description: </b>
      <%= video.description %>
      <br><br>
    </div>
    <div>
      <b>Upload Date: </b>
      <%= video.published_at %>
    </div>
  </div>
<% end %>
