<!DOCTYPE html>
<html>

<div class="wrapper">
    <div class="main-header">
        <%= render "shared/header" %>
    </div>

    <% if false %>
    <div class="side">
        <%= render "shared/search" %>
        <%= render "shared/side_menu" %>
    </div>
    <% end %>



    <% if false %>
    <div class="details">
    </div>
    <% end %>

    <div class="video">
        <%= render "shared/video" %>
    </div>
    <div class="content">

        <%#= render "shared/column_filters" %>
        <div data-controller="select-filter" data-select-filter-url="<%= videos_filter_path %>">
            <div class="container">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <label for=" ">Filter Type:</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="videotypes" multiple size="13" data-action="select-filter#videotypeChange">
                                <option value="">All <%= @videotypes.count %> Types</option>
                                    <%= @videotypes.each do |videotype| %>
                                    <option value="<%= videotype.id %>"><%= videotype.name %></option>
                                    <% end %>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>
                                <label for=" ">Filter Genres:</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>

                                <select name="genres" multiple size="13" data-action="select-filter#genreChange">
                                <option value="">All <%= @genres.count %> Genres</option>
                                    <%= @genres.each do |genre| %>
                                    <option value="<%= genre %>"><%= genre %></option>
                                    <% end %>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>
                                <label for=" ">Filter Leaders:</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>

                                <select name="leaders" multiple size="13" data-action="select-filter#leaderChange">
                                <option value="">All <%= @leaders.count %> Leaders</option>
                                    <%= @leaders.each do |leader| %>
                                    <option value="<%= leader.id %>"><%= leader.name %></option>
                                    <% end %>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>
                                <label for=" ">Filter Followers:</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>

                                <select name="followers" multiple size="13" data-action="select-filter#followerChange">
                                <option value="">All <%= @followers.count %> Followers</option>
                                    <%= @followers.each do |follower| %>
                                    <option value="<%= follower.id %>"><%= follower.name %></option>
                                    <% end %>
                                </select>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>
                                <label for=" ">Filter Events:</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>

                                <select name="events" multiple size="13" data-action="select-filter#eventChange">
                                <option value="">All <%= @events.count %> Events</option>
                                    <%= @events.each do |event| %>
                                    <option value="<%= event.id %>"><%= event.name %></option>
                                    <% end %>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>
                                <label for=" ">Filter Channels:</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="channel=[]" multiple size="13" data-action="select-filter#channelChange">
                                <option value="">All <%= @channels.count %> Channels</option>
                                    <%= @channels.each do |channel| %>
                                    <option value="<%= channel %>"><%= channel %></option>
                                    <% end %>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-target="select-filter.videos">
                <%= render partial: 'videos/video_list', locals: { videos: @videos} %>
            </div>

        </div>
        <%#= render "shared/main_table" %>
        <div class="apple_pagination">
            <div class="footer">
                <%= render "shared/footer" %>
            </div>
        </div>
    </div>
    <div class="recommended_videos">
        <%= render "shared/recommended_videos" %>
    </div>
</div>