<!DOCTYPE html>
<html>
   <div class= "wrapper">
      <div class= "main-header">
         <%= render "shared/header" %>
      </div>
      <div class= "side">
         <%= render "shared/search" %>
         <%= render "shared/side_menu" %>
      </div>
      <div class= "details">
         <%= render "shared/details_video" %>
      </div>
      <div class= "video">
      <%= render "shared/video" %>
      </div>
      <div class= "content">    
         <%= render "shared/column_filters" %>
         <%= render "shared/main_table"%>
         <%= will_paginate @videos %>
      </div>
      <div class= "footer">
         <%= render "shared/footer" %>
      </div>
   </div>