<div class="wrapper">
    <div class="main-header">
        <%= render "videos/index/header" %>
    </div>

    <div class="video">
        <%= render "videos/index/video" %>
    </div>
    <div class="details">
        <%= render "videos/index/details_video" %>
    </div>
    <div class="content">
        <%= render "videos/index/videos" %>
    </div>

    <div class="apple_pagination">
        <div class="footer">
            <%= render "videos/index/footer" %>
        </div>
    </div>
</div>
