<div id="header">
  <%= render 'shared/header' %>
</div>
<div id="filters">
  <%= render "videos/index/filters" %>
</div>
<div>
<%= turbo_frame_tag "videos-#{@page}" do %>
  <div id="videos" class="video-section">
    <%= render "videos/index/videos" %>
  </div>
  <%= turbo_frame_tag "videos-#{@page + 1}" do %>
    <div class="load-more-container">
      <%= render "videos/index/load_more" %>
    </div>
  <% end %>
<% end %>
</div>
