<%= render "videos/index/filters" %>
<%= turbo_frame_tag "videos-#{@page}" do %>
  <div id="videos">
    <%= render "videos/index/videos" %>
  </div>
  <%= turbo_frame_tag "videos-#{@page + 1}" do %>
    <div id="load-more-container">
      <%= render "videos/index/load_more" %>
    </div>
  <% end %>
<% end %>
