<%= render 'shared/header' %>
<div class="grid-container-show">
<div class="video-responsive-background">
  <div class="video-responsive-container">
    <div class="video-responsive">
      <iframe src="https://www.youtube.com/embed/<%= @video.youtube_id %>?rel=0&modestbranding=1&autoplay=1" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
<div class="video-info-container">
  <div class="video-info-container-left">
    <%= render partial: "videos/show/video_info_primary" %>
    <%= render partial: "videos/show/video_info_details" %>
    <div class="video-info-lyrics">
      <% if @video.song.present? %>
        <% if @video.song.lyrics.present? %>
      <div class="detail-row-lyrics">
          <div class="detail-item-heading-lyrics">
            <h4>Lyrics</h4>
          </div>
        <div class="detail-column-lyrics">
            <%= simple_format(@video.song.lyrics.to_s.titleize) %>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
    <div class="recomended-videos-section">
      <div class="detail-section-label">
        <h4>Related Videos</h4>
      </div>
      <%= render partial: "videos/show/recommended_videos" %>
    </div>
  </div>
</div>
