<% content_for :meta_title, "#{primary_title(@video.display.dancer_names,
                                              @video.title,
                                              @video.display.any_song_attributes,
                                              @video.youtube_id)}" %>
<% content_for :meta_description,  "#{@video.display.any_song_attributes}" %>
<% content_for :meta_image, "https://img.youtube.com/vi/#{@video.youtube_id}/maxresdefault.jpg" %>

<%= render 'shared/header' %>
<div class="video-responsive-background">
  <div class="video-responsive-container">
    <div class="video-responsive">
      <iframe src="https://www.youtube.com/embed/<%= @video.youtube_id %>?rel=0&modestbranding=1&autoplay=1" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
<%= turbo_frame_tag dom_id(@video) do %>
<div class="video-info-container">
  <%= render partial: "videos/show/video_info_primary" %>
  <div class="video-info-container-secondary">
    <div class="video-info-details-main">
      <%= render partial: "videos/show/video_info_details" %>
    </div>
      <% if @video.song.present? %>
          <%= render partial: "videos/show/lyrics" if @video.song.lyrics.present? %>
      <% end %>
    <div class="recommended-videos-section">
      <%= render partial: "videos/show/recommended_videos" %>
    </div>
  </div>
</div>
<% end %>
