<div class="container" data-controller="permalink" data-permalink-videotype_id="<%= params[:videotype_id] %>" data-permalink-genre="<%= params[:genre] %>" data-permalink-leader_id="<%= params[:leader_id] %>" data-permalink-follower_id="<%= params[:follower_id] %>" data-permalink-event_id="<%= params[:event_id] %>" data-permalink-channel="<%= params[:channel] %>">
    <div class="scrollContentFilter">
        <table>
            <thead>
                <tr>
                    <th>
                        <label>Filter Type:</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%= select_tag "videotype_id", content_tag(:option, "Select All #{@videotypes.count} Types", selected: "selected", value: "" ) +
                        options_from_collection_for_select(@videotypes, 'id', 'name'),
                        class: "form-control",
                        name: "videotype_id",
                        multiple: false,
                        size: 10,
                        data: { action: "change->permalink#filter",
                                reflex_root: "#search-results" } %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="scrollContentFilter">
        <table>
            <thead>
                <tr>
                    <th>
                        <label>Filter Genre:</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%= select_tag "genre", content_tag(:option, "Select All #{@genres.count} Types", selected: "selected", value: "" ) +
                        options_for_select(@genres),
                        class: "form-control",
                        name: "genre",
                        multiple: false,
                        size: 10,
                        data: { action: "change->permalink#filter",
                                reflex_root: "#search-results" } %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="scrollContentFilter">
        <table>
            <thead>
                <tr>
                    <th>
                        <label>Filter Leader:</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%= select_tag "leader", content_tag(:option, "Select All #{@leaders.count} Types", selected: "selected", value: "" ) +
                        options_from_collection_for_select(@leaders, 'id', 'name'),
                        name: "leader_id",
                        class: "form-control",
                        multiple: false,
                        size: 10,
                        data: { action: "change->permalink#filter",
                                reflex_root: "#search-results" } %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="scrollContentFilter">
        <table>
            <thead>
                <tr>
                    <th>
                        <label>Filter Follower:</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%= select_tag "follower_id", content_tag(:option, "Select All #{@followers.count} Types", selected: "selected", value: "" ) +
                        options_from_collection_for_select(@followers, 'id', 'name'),
                        name: "follower_id",
                        class: "form-control",
                        multiple: false,
                        size: 10,
                        data: { action: "change->permalink#filter",
                                reflex_root: "#search-results" } %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="scrollContentFilter">
        <table>
            <thead>
                <tr>
                    <th>
                        <label>Filter Event:</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%= select_tag "event_id", content_tag(:option, "Select All #{@events.count} Types", selected: "selected", value: "" ) +
                        options_from_collection_for_select(@events, 'id', 'name'),
                        name: "event_id",
                        class: "form-control",
                        multiple: false,
                        size: 10,
                        data: { action: "change->permalink#filter",
                                reflex_root: "#search-results" } %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="scrollContentFilter">
        <table>
            <thead>
                <tr>
                    <th>
                        <label>Filter Channel:</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%= select_tag "channel", content_tag(:option, "Select All #{@channels.count} Types", selected: "selected", value: "" ) +
                        options_for_select(@channels),
                        class: "form-control",
                        name: "channel",
                        multiple: false,
                        size: 10,
                        data: { action: "change->permalink#filter",
                                reflex_root: "#search-results" } %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>