<div class="container">


   <div id="Type Filter" class="tableContainerFilter" >
         <table class="scrollTableFilter">
            <thead class="fixedHeaderFilter">
               <tr>
                  <th>Type</th>
               </tr>
            </thead>
             <tbody class="scrollContentFilter">
            <tr>
               <td>
                  <%= link_to "All (#{Video.pluck('videotype_id').uniq.count} Type)", current_page_params.merge(:videotype_id => " ") %>
               </td>
            </tr>
               <% @videotypes.each do |videotype| %>
             <tr>
               <td>
                  <%= link_to videotype, current_page_params.merge(videotype_id: videotype ) %>
               </td>
            </tr>
            <% end %>
         </tbody>
         </table>
   </div>    
   <div id="Genre Filter" class="tableContainerFilter" >
         <table class="scrollTableFilter" >
            <thead class="fixedHeaderFilter">
               <tr>
                  <th>Genre</th>
               </tr>
            </thead>
            <tbody class="scrollContentFilter">
            <tr>
               <td>
                  <%= link_to "All (#{Video.joins(:song).pluck(:genre).compact.uniq.count} Genre)", current_page_params.merge(:genre => " ") %>
               </td>
            </tr>  
               <% @songs.each do |genre| %>  
             <tr>
               <td>
                  <%= link_to genre, current_page_params.merge(genre: genre ) %>
               </td>
            </tr>
            <% end %>
         </tbody>
         </table>
   </div> 
   <div id="Leader Filter" class="tableContainerFilter">
      <table class="scrollTableFilter">
         <thead class="fixedHeaderFilter">
            <tr>
               <th>Leader</th>
            </tr>
         </thead>
         <tbody class="scrollContentFilter">
            <tr>
               <td>
                  <%= link_to "All (#{Video.pluck('leader_id').uniq.count} Leaders)", current_page_params.merge(:leader_id => " ") %>
               </td>
            </tr>
               <% @leaders.each do |leader| %>
             <tr>
               <td>
                  <%= link_to leader, current_page_params.merge(leader_id: leader ) %>
               </td>
            </tr>
            <% end %>
         </tbody>
      </table>
   </div>     
   <div id="Follower Filter" class="tableContainerFilter">
      <table class="scrollTableFilter">
         <thead class="fixedHeaderFilter">
            <tr>
               <th>Follower</th>
            </tr>
         </thead>
         <tbody class="scrollContentFilter">
            <tr>
               <td>
                   <%= link_to "All (#{Video.pluck('follower_id').uniq.count} Followers)", current_page_params.merge(:follower_id => " ") %>
               </td>
            </tr>
                <% @followers.each do |follower| %>
             <tr>
               <td>
                  <%= link_to follower, current_page_params.merge(follower_id: follower ) %>
               </td>
            </tr>
            <% end %>
         </tbody>
      </table>
   </div>
   <div id="Event Filter" class="tableContainerFilter" >
      <table class="scrollTableFilter">
         <thead class="fixedHeaderFilter">
            <tr>
               <th>Event</th>
            </tr>
         </thead>
         <tbody class="scrollContentFilter">
            <tr>
               <td>
                   <%= link_to "All (#{Video.pluck('event_id').uniq.count} Events)", current_page_params.merge(:event_id => " ") %>
               </td>
            </tr>
                <% @events.each do |event| %>
             <tr>
               <td>
                  <%= link_to event, current_page_params.merge(event_id: event ) %>
               </td>
            </tr>
            <% end %>
         </tbody>
      </table>
   </div>
   <div id="Channel Filter" class="tableContainerFilter">
      <table class="scrollTableFilter">
         <thead class="fixedHeaderFilter">
            <tr>
               <th>Channel</th>
            </tr>
         </thead>
         <tbody class="scrollContentFilter">
         <tr>
               <td>
                   <%= link_to "All (#{Video.pluck(:channel).uniq.count} Channels)", current_page_params.merge(:channel => " ") %>
               </td>
            </tr>
                <% @channels.each do |channel| %>
             <tr>
                <td>
                  <%= link_to "#{channel}", current_page_params.merge(:channel => "#{channel}" )%>
               </td>
            </tr>
             <% end %>
         </tbody>
      </table>
   </div>
</div>