<div style = "width:100%; height:300px;padding:20px">
<div style = "float:left; width:33%">
<h2>Title:</h2>
<h2>Description:</h2>

<h2>Performance Date:</h2>
<h2>Event:</h2>
<h2>Channel:</h2>
<h2>Performance Number:</h2>
</div>  
<div style = "float:left; width:33%">
<h2>Leader</h2>
<h2>Follower:</h2>
<h2>Genre:</h2>
<h2>Song:</h2>
<h2>Artist:</h2>
</div>
<div style = "float:left; width:33%">
<h2>Rating:</h2>
<h2>View Count:</h2>
<h2>Comments:</h2>
<h2>Playlists:</h2>
<h2>Length:</h2>
<h2>Share:</h2>
</div>

<% if false %>
<%= @video.id %>
<%= @video.channel %>
<%= @video.leader.name %>
<%= @video.follower.name %>
<%= @video.song %>
<%= @video.artist %>
<%= @video.channel %>
<%= @video.view_count %>
<%= @video.upload_date  %> 
<% end %>

</div>