    <table class="scrollTableHeader">
        <thead>
            <tr>
                <th style="width: 180px"></th>
                <th class="row-1 row-leader"><%= sortable "leader_id", "Leader" %></th>
                <th class="row-1 row-follower"><%= sortable "follower_id", "Follower" %></th>
                <th class="row-1 row-song"><%= sortable "song_id", "Song" %></th>
                <th class="row-1 row-artist"><%= sortable "artist", "Artist" %></th>
                <th class="row-1 row-channel"><%= sortable "channel", "Channel" %></th>
                <th class="row-1 row-view_count"><%= sortable "view_count", "View Count" %></th>
                <th class="row-1 row-upload_date"><%= sortable "upload_date", "Upload Date" %></th>
            </tr>
        </thead>
        </table>
<div class = "scrollTableContainer" >
    <table class="scrollTable">
        <tbody>
        <%# byebug %>
            <% @v_pagination.each do |video| %>
            <tr>
            <%# byebug %>
            <td>
            <%= link_to image_tag("http://img.youtube.com/vi/#{video.youtube_id}/mqdefault.jpg",width: 120), current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %>
            </td>
                <td class="row-1 row-leader">
                <%= link_to "#{video.song.try(:title)} - #{video.song.try(:artist)}", current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %>
                <br>
                <%= link_to "#{video.leader.try(:name)} & #{video.follower.try(:name)}", current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %>
                </td>
                <td class="row-1 row-follower"> </td>
                <td class="row-1 row-song">
                <%= link_to "#{video.event.try(:title)}", current_page_params.merge(:youtube_id => "#{video.event.try(:title)}" ) %>
                </td>
                
                <td class="row-1 row-artist"><%= link_to "#{video.song.genre}", current_page_params.merge(:youtube_id => "#{video.song.genre}" ) %></td>
                <td class="row-1 row-channel"><%= link_to "#{video.channel}", current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %></td>
                <td class="row-1 row-view_count"><%= link_to "#{video.view_count}", current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %></td>
                <td class="row-1 row-upload_date"><%= link_to "#{video.upload_date}", current_page_params.merge(:youtube_id => "#{video.youtube_id}" ) %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>