<center>
  <h2>Recommended Videos</h2>
</center>

<div>
  <table>
    <tbody>
      <% @videos.each do |video| %>
      <td>
        <%= link_to image_tag("http://img.youtube.com/vi/#{video.youtube_id}/mqdefault.jpg",
                                width: 180),
                                current_page_params
                                .merge(:youtube_id => "#{video.youtube_id}" ) %>
      </td>
      <td>
        <%= video.leader.try(:name) %> & <%= video.follower.try(:name) %><br>
        <%= video.song.try(:title) %> by <%= video.song.try(:artist) %><br>
        <br>
        <%= video.channel %><br>
        <%= video.view_count %> views
        <%= video.upload_date %>
      </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <hr><br>
</div>