<div class="container">
  <div id="youtube_video">
    <div class="iframe-container">
      <iframe scrolling="no" src="https://www.youtube.com/embed/<%= @active_video_url %>" allow="accelerometer;
                autoplay;
                encrypted-media;
                gyroscope;
                picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>
  <div class="scrollTabledDetailContainer">
    <div class="video_details_content">
      <%= render "shared/search" %>
      <table>
        <tr>
          <td>
            <b>Title:</b> <%= @active_video.title %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Description:</b> <%= @active_video.description %>
          </td>
        </tr>
      </table>
      <table>
        <tbody>
          <tr>
            <td><b>Leader</b> <%= @active_video.leader.try(:name) %></td>
            <td>
            <td><b>Genre:</b> <%= @active_video.song.try(:genre) %></td>
            </td>
            <td><b>Length:</b> <%= @active_video.duration %> seconds</td>
            <td><b>Type:</b> <%= @active_video.videotype.try(:name) %></td>
          </tr>
          <tr>
            <td><b>Follower:</b> <%= @active_video.follower.try(:name) %></td>
            <td>
            <td><b>Artist:</b> <%= @active_video.song.try(:artist) %></td>
            </td>
            <td><b>Upload Date:</b> <%= @active_video.upload_date %></td>
            <td><b>Event:</b> <%= @active_video.event.try(:name) %></td>
          </tr>
          <tr>
            <td></td>
            <td>
            <td><b>Song:</b> <%= @active_video.song.try(:title) %></td>
            </td>
            <td><b>Rating:</b> <%= @active_video.avg_rating %> stars</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><b>View Count:</b> <%= @active_video.view_count %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><b>Length:</b> <%= @active_video.duration %></td>
          </tr>
        </tbody>
      </table>
      </table>
    </div>
  </div>
</div>