<!DOCTYPE html>
<html>
<head>
  <title>Tango Library</title>
</head>

<body>
  <div class="wrapper">
  <div class="one">
    <center><h1>Tango Library</h1></center>
  </div>

  <div class="two">
    <div class="iframe-container">
      <p align=center>
      <iframe scrolling="no" onload="resizeIframe(this)" 
      src="https://www.youtube.com/embed/s6iptZdCcG0" 
      allow="accelerometer;
             autoplay; 
             encrypted-media; 
             gyroscope; 
             picture-in-picture" 
      allowfullscreen></iframe>
      </p>
    </div>
  </div>

  <div class="three">
    <table class="main_table">
      <thead>
        <tr>
          <th><%= video.id %></th>
          <th><%= video.title %><th>
          <th><%= video.leader %></th>
          <th><%= video.leader_id %></th>
          <th><%= video.follower %></th>
          <th><%= video.follower_id %></th>
          <th><%= video.song %></th>
          <th><%= video.created_at %></th>
          <th><%= video.updated_at %></th>
          <th><%= video.youtube_id %></th>
        </tr>
      </thead>
      <tbody>
      <% @videos.each do |video| %>
        <tr>    
          <td><%= video.id %></td>
          <td><%= video.title %><td>
          <td><%= video.leader %></td>
          <td><%= video.leader_id %></td>
          <td><%= video.follower %></td>
          <td><%= video.follower_id %></td>
          <td><%= video.song %></td>
          <td><%= video.created_at %></td>
          <td><%= video.updated_at %></td>
          <td><%= video.youtube_id %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
