<div class="grid-container">
  <div class="video-responsive">
    <iframe width="100%" height="600px" scrolling="no" src="https://www.youtube.com/embed/<%= @active_video.youtube_id %>" allowfullscreen>
    </iframe>
  </div>
<div class="video-info-container">
  <div class="detail-section-label">
    <h1>Video Info</h1>
  </div>
  <%= render partial: "video_info_item", locals: {header: "Title", value: @active_video.title || "N/A"} %>
  <%= render partial: "video_info_item", locals: {header: "Description", value: @active_video.description || "N/A" } %>
  <%= render partial: "video_info_item", locals: {header: "Upload Date", value: @active_video.upload_date.strftime("%d/%m/%Y") || "N/A"} %>
  <%= render partial: "video_info_item", locals: {header: "View Count", value: @active_video.view_count || "N/A"} %>
  <%= render partial: "video_info_item", locals: {header: "Duration", value: Time.at(@active_video.duration).utc.strftime("%M:%S") || "N/A"} %>
  <%= render partial: "video_info_item", locals: {header: "Performance Number", value: "N/A"} %>
  <%= render partial: "video_info_item", locals: {header: "Channel", value: @active_video.channel.title || "N/A"} %>

  <div class="detail-section-label">
    <h1>Performers</h1>
  </div>

  <%= render partial: "video_info_item", locals: {header: "Leader", value: @active_video.leader.try(:name) || "N/A"} %>
  <%= render partial: "video_info_item", locals: {header: "Follower", value: @active_video.follower.try(:name) || "N/A"} %>

  <div class="detail-section-label">
    <h1>Music</h1>
  </div>
  <% if @active_video.song.present? %>
    <%= render partial: "video_info_item", locals: {header: "Title", value: @active_video.song.try(:title).to_s.titleize || "N/A"} %>
    <%= render partial: "video_info_item", locals: {header: "Genre", value: @active_video.song.try(:genre).to_s.titleize || "N/A"} %>
    <%= render partial: "video_info_item", locals: {header: "Artist", value: @active_video.song.try(:artist).to_s.titleize || "N/A"} %>
    <%= render partial: "video_info_item", locals: {header: "Artist 2", value: @active_video.song.try(:artist_2).to_s.titleize || "N/A"} %>
  <% end %>

  <% if @active_video.song.blank? && @active_video.spotify_track_name.present? %>
    <%= render partial: "video_info_item", locals: {header: "Title", value: @active_video.spotify_track_name.to_s.titleize || "N/A"} %>
    <%= render partial: "video_info_item", locals: {header: "Artist", value: @active_video.spotify_artist_name.to_s.titleize || "N/A"} %>
    <%= render partial: "video_info_item", locals: {header: "Artist 2", value: @active_video.spotify_artist_name_2.to_s.titleize  } %>
  <% end %>

  <% if @active_video.song.blank? && @active_video.spotify_track_name.blank? && @active_video.youtube_song.present? %>
    <%= render partial: "video_info_item", locals: {header: "Title", value: @active_video.youtube_song.to_s.titleize || "N/A"} %>
    <%= render partial: "video_info_item", locals: {header: "Artist", value: @active_video.youtube_artist.to_s.titleize || "N/A"} %>
  <% end %>
  <div class="spacer"></div>
</div>
