<div class="playlists-index-container">
  <h2>All playlists</h2>
  <%= form_with model: Playlist.new, local: true, class: 'playlist-form' do |f| %>
    youtube.com/playlist/
    <%= f.text_field :slug, placeholder: 'insert playlist id here...'%>
    <%= f.submit "Add New Playlist" %>
  <% end %>
  <% @playlists.each do |playlist| %>
    <div class="playlists-index-row">
      <div class="playlists-index-item" id="id">
        <%= playlist.slug %>
      </div>
      <div class="playlists-index-item" id="title">
        <%= playlist.title %>
      </div>
    </div>
  <% end %>
</div>
