<div class="playlists-index-container">
  <h2>All playlists</h2>
  <%= form_with model: @video, class: 'playlist-form' do |f| %>
    <%= f.label 'youtube.com/playlist/' %>
    <%= f.text_field :playlist_id, placeholder: 'insert playlist id here...'%>
  <% end %>
  <% @playlists.each do |playlist| %>
  <div class="playlists-index-row">
    <div class="playlists-index-item" id="id">
      <%= playlist.slug %>
    </div>
    <div class="playlists-index-item" id="title">
      <%= playlist.title %>
    </div>
    <div class="playlists-index-item" id="playlist_id">
      <%= playlist.channel_id %>
    </div>
  </div>
  <% end %>
</div>
