<h1><%= @playlist.title %></h1><br>
Playlist ID: <%= @playlist.slug %><br>
channel_title: <%= @playlist.channel_title %><br>
Playlist ID: <%= @playlist.channel_id %><br>
Playlist Video Count: <%= @playlist.video_count %><br>
Imported: <%= @playlist.imported %><br>
