<!DOCTYPE html>
<html>
  <head>
    <title>TangoTube</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet"></link>
  </head>
  <body>
    <div id="header">
      <%= render 'shared/header' %>
    </div>
    <div>
      <%= render "shared/flash" %>
    </div>
    <div id="pageContainer" data-controller="toggle">
      <div id="sideNavContainer" class="isHidden" data-toggle-target="sideNavContainer">
      </div>
      <div id="mainSectionContainer" data-toggle-target="mainSectionContainer">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
