<!DOCTYPE html>
<html>
  <head>
    <title>TangoTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap' %>%
  </head>
  <body>
    <div id="pageContainer" data-controller="toggle select2">
        <%= render 'layouts/header' %>
      <div id="sideNavContainer" class="isHidden" data-toggle-target="sideNavContainer">
      </div>
      <div id="mainSectionContainer" data-toggle-target="mainSectionContainer">
        <div id="mainContentContainer">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
